:root {
  --font-color: #D0E7D2;
  --secondary-color: #2f492f;
  --accent-color: #ece81efa;
  font-family: 'Courier Prime', monospace;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-out;
  box-sizing: border-box;
}

body {
  color: var(--font-color);
}

section {
  padding: 20px;
  margin-bottom: 5%;
}


.about {
  display: flex;
  height: 100vh;
  font-size: 1.5rem;
}

.left-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1.5em;
  z-index: 1;
}

.left-about h1 {
  width: 85%;
}

.left-about p {
  width: 85%;
}

.right-about {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.right-about img {
  height: 300px;
  width: 300px;
  object-fit:cover;
  object-position: -.5%;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgba(11, 233, 200, 0.233));
}

.about-name {
  font-size: 3rem;
  color: var(--accent-color);
}


/* WORK */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.work>nav {
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #002029b4;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.work>nav>ul {
  display: flex;
  list-style: none;
  gap: 2em;
}

.work h2 {
  margin-bottom: 3%;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
  gap: 5em;
  text-align: center;
}

.card {
  border-radius: 10px;
  height: 400px;
  width: 400px;
  background-color: var(--secondary-color);
  font-size: .75rem;
  filter: drop-shadow(0 0 0.75rem rgb(10, 44, 39));
}

.project-img {
  width: 100%;
  height: 60%;

}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-info {
  padding: 15px;
}

.project-info>h2 {
  font-size: 1.25rem;
}


a {
  background-image: linear-gradient(to right,
      black,
      black 50%,
      var(--font-color) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

a:visited {
  color: var(--font-color);
}

a:hover::before {
  width: 100%;
}

a:hover {
  background-position: 0;
}

/* STACK */
.stack {
  text-align: center;
}

.stack-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
  padding: 50px;
}

.stack-img img {
  max-width: 75px;
  height: auto;
}

/* CONTACT */
.contact {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 20%;
}

label {
  margin: 3% 0 0 0;
}

input {
  height: 30px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 2% 0 0 0;
}

textarea {
  padding: 5px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
}

.project a:link {
  text-decoration: none;
  color: var(--font-color);
}

.project a:visited {
  color: var(--font-color);

}

.project a:active {
  color: yellow;
}

.project a:hover {
  text-decoration: underline;
}

.nav a:link {
  text-decoration: none;
  color: var(--main-color);
}

.nav a:visited {
  color: var(--main-color);

}

.nav a:active {
  color: yellow;
}

.nav a:hover {
  color: var(--font-color);
}

/* background animation*/
body {
  background: linear-gradient(125deg, rgb(0, 0, 0) 11.2%, rgb(16, 151, 167) 91.1%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 1200px) {
  section {
    margin-left: auto;
    margin-right: auto;
  }
}

/* LAPTOPS */
@media (max-width: 1024px) {
  form {
    width: 30%;
  }
}


/* TABLETS */
@media (max-width:768px) {
  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  form {
    width: 50%;
  }
}